---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import SplitSection from "../components/SplitSection.astro";
import Hero from "../components/Hero.astro";
import LieuComponent from "../components/Lieu.astro";
import HeroImage from "../assets/images/reportage-portraits-cuisine-salle-46.jpg";
import JardinImage from "../assets/images/clos-des-sens-juillet-2023-jardin-115.jpg";
import ReceptionImage from "../assets/images/clos-des-sens-juillet-2023-reception-24.jpg";
import ChefImage from "../assets/images/Franck-Derouet.jpg";
---

<Layout title="Un lieu | Le pavillon gourmand">
  <Hero currentPage="/lieu" bgImage={HeroImage} />
  <LieuComponent />
  <SplitSection
    title="Le jardin"
    bgColor="#051528"
    bgImage={JardinImage}
    isInverted
  >
    Inspiration quotidienne, dans son jus, le végétal s'exprime au gré du temps,
    dans ses moindres mouvements, discret ou profus, libre d'être soi.
  </SplitSection>
  <SplitSection title="Esprits engagés" bgColor="#051528" bgImage={ChefImage}>
    <div slot="left" class="flex flex-col w-full h-full">
      <div class="flex-1 flex items-center">
        <div class="text-white p-8 md:p-16 max-w-xl text-lg leading-10">
          <h2 class="uppercase font-bold text-3xl">Esprits Engagés</h2>
          <p>
            Épouser une identité unique, pousser jusqu'à l'ultime sa passion
            sensible et émotionnelle, curieuse et libre d'être.
          </p>
        </div>
      </div>
      <div class="flex-1">
        <Image
          src={ReceptionImage}
          alt="Reception le pavillon gourmand"
          style="object-cover"
        />
      </div>
    </div>
    <div slot="right" class="video-container relative w-full h-full overflow-hidden">
      <iframe
        class="youtube-video"
        src="https://www.youtube.com/embed/uceaJ__FZg4?si=NNPNRCyKZDId-FHD"
        title="YouTube video player"
        width="100%"
        height="100%"
        frameborder="0"
        allowfullscreen></iframe>
      <Image
        src={ChefImage}
        alt="Franck Derout"
        class="object-cover object-center w-full h-full"
      />
    </div>
  </SplitSection>
</Layout>

<style>
  .video-container {
    position: relative;
    cursor: pointer;
  }

  .video-container .youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
  }

  .video-container img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
  }

  .video-container:hover .youtube-video {
    opacity: 1;
  }

  .video-container:hover img {
    opacity: 0;
  }
</style>
