---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SplitSection from "../components/SplitSection.astro";
import Fenouille3Image from "../assets/images/clos-des-sens-juillet-2023-plats-fenouil3.jpg";
import Fenouille6Image from "../assets/images/clos-des-sens-septembre-2021-plat-fenouille6.jpg";
import LitAltesseImage from "../assets/images/le_clos_des_sens_juin_2022_plats_brochet_lie_d_altesse2.jpg";
import EcrevisseImage from "../assets/images/plats_ecrevisse_froide.jpg";
import CaveAVinImage from "../assets/images/matthieu_cellard_cave_et_vin.jpg";
import CueilletteChampignonMobileMP4 from "../assets/videos/cueillette_champignon_mobile.mp4";
import CueillutteChampignonMobileWEBM from "../assets/videos/cueillette_champignon_mobile.webm";
import CueilletteChampignonMP4 from "../assets/videos/cueillette_champignon.mp4";
import CueilletteChampignonWEBM from "../assets/videos/cueillette_champignon.webm";
---

<Layout
  title="Un moment | Le pavillon gourmand"
  metadescription="Le pavillon gourmand, restaurant gastronomique à Annecy, vous propose un moment de détente et de plaisir dans un cadre exceptionnel."
>
  <Hero currentPage="/moment" bgImage={EcrevisseImage} />
  <SplitSection title="Âme végétale et lacustre" bgColor="#251715">
    Reflet d'un garde-manger nourricier, la cuisine, brut et authentique dessine
    ses lignes dans ses courbes sauvages et charnelles sans contour.
    <br />
    <button
      class="text-white border border-white px-4 py-2 transition duration-300 ease-in-out hover:bg-white hover:text-black mt-2"
    >
      <a href="/menu.pdf" target="_blank">Notre menu</a>
    </button>
    <div slot="right" class="grid-container">
      <Image src={Fenouille3Image} alt="Fenouille" class="grid-item top-left" />
      <Image
        src={Fenouille6Image}
        alt="Fenouille"
        class="grid-item top-right"
      />
      <Image
        src={LitAltesseImage}
        alt="Lit d'altesse"
        class="grid-item bottom-left"
      />
      <Image
        src={EcrevisseImage}
        alt="Ecrevisse"
        class="grid-item bottom-right"
      />
    </div>
  </SplitSection>
  <SplitSection title="La cueillette" bgColor="#251715" isInverted>
    Inspiration quotidienne, dans son jus, le végétal s'exprime au gré du temps,
    dans ses moindres mouvements, discret ou profus, libre d'être soi.
    <video
      slot="right"
      class="w-full h-full object-cover"
      controls
      muted
      preload="none"
    >
      <source media="(max-width: 768px)" src={CueilletteChampignonMobileMP4} type="video/mp4" />
      <source media="(max-width: 768px)" src={CueillutteChampignonMobileWEBM} type="video/webm" />
      <source src={CueilletteChampignonMP4} type="video/mp4" />
      <source src={CueilletteChampignonWEBM} type="video/webm" />
       Your browser does not support the video tag.
    </video>
  </SplitSection>
  <SplitSection
    title="Verre du terroir"
    bgColor="#251715"
    bgImage={CaveAVinImage}
  >
    <p>
      Explorer un territoire et rendre à la vigne la beauté des racines locales,
      les cépages d'ici, écho aux flacons d'ailleurs, la pertinence d'une équipe
      sommelière en totale cohérence.
    </p>
    <button
      class="text-white border border-white px-4 py-2 transition duration-300 ease-in-out hover:bg-white hover:text-black mt-2"
    >
      <a href="/carte-des-vins.pdf" target="_blank">La carte des vins</a>
    </button>
  </SplitSection>
</Layout>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    width: 100%; /* Set to the desired width */
    height: 100%; /* Adjust the height as needed */
  }

  .grid-item {
    transition: transform 1s ease;
    object-fit: cover; /* To maintain the aspect ratio */
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  /* Set the default scale to 1 */
  .grid-item::before {
    content: "";
    display: block;
    padding-top: 100%; /* This keeps the aspect ratio of the items 1:1 */
  }

  /* Set the transform origin based on the class */
  .top-left {
    transform-origin: top left;
  }

  .top-right {
    transform-origin: top right;
  }

  .bottom-left {
    transform-origin: bottom left;
  }

  .bottom-right {
    transform-origin: bottom right;
  }

  /* Scale and translate the images on hover */
  .grid-item:hover {
    z-index: 2;
    transform: scale(2);
  }
</style>
